<div class="p-grid p-dir-col sxp-app-component">
  <!--  Header Section -->

  <div class="header">
    <div class="logo-divs">
      <div class="logo-pic"></div>
      <div class="logo">SpaceEXE</div>
    </div>


    <!-- <div class="picklist">
        <select>
          <option value="option1">Option 1</option>
          <option value="option2">Option 2</option>
          <option value="option3">Option 3</option>
          <option value="option4">Option 4</option>
          <option value="option5">Option 5</option>
        </select>
      </div> -->

    <div class="burger"></div>

  </div>



  <sxp-program></sxp-program>

  <!--  Footer Section -->
  <!-- <div class="p-grid p-justify-center header-footer">
    <h5>Developed by: <span class="dev-name">Abhishek Raj</span></h5>
  </div> -->
</div>