// SpaceXProgram custom scss variables
@import "assets/styles/variables";

body {
  background-color: #000000;
  font-family: $font-family;

  max-width: 1234px;

  display: flex;
  justify-content: center;
}
